li {
  list-style: none;
}

a,
button {
  font-family: "Barlow", sans-serif;
}

p {
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  color: #0C0B0B;
}

h1 {
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
  color: #fff;
  font-style: italic;
  font-family: "EudoxusSans-Medium";
}
@media screen and (max-width: 575px) {
  .endtext__text {
    padding-top: 25px;
}
  h1 {
    font-size: 40px;
  }
}

h2 {
  font-size: 30px;
  line-height: 75px;
  color: #474747;
  font-weight: 500;
  font-family: "Barlow";
}
@media screen and (max-width: 575px) {
  h2 {
    font-size: 22px;
    line-height: 50px;
  }
}
@media screen and (max-width: 425px) {
  h2 {
    font-size: 17px;
  }
}

h3 {
  font-size: 23px;
  color: #474747;
  font-weight: 500;
  line-height: 30px;
}
@media screen and (max-width: 1024px) {
  h3 {
    font-size: 19px;
  }
}

h4 {
  font-size: 24px;
  color: #474747;
  font-weight: 500;
  line-height: 30px;
}

/*media queries start*/
@media screen and (max-width: 1199px) {
  .container {
    padding: 0 20px;
  }
  .site-logo img {
    max-width: 150px;
  }
  .site-nav a {
    padding: 8px 4px !important;
    display: inline-block;
  }
  .site-nav li {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .site-nav a {
    display: inline-block;
    padding: 8px 9px;
  }
  .site-nav li {
    font-size: 15px;
  }
  .homecard__content {
    margin-bottom: 50px;
  }
  .hotelcard__part {
    max-width: 100%;
  }
  .homecard__picture {
    height: 100%;
  }
  .homecard__picture img {
    height: 100%;
  }
  .item h4 {
    font-size: 17px;
  }
  .item p {
    font-size: 16px;
    line-height: 20px;
  }
  img.img-fluid.smallimage {
    right: -5%;
  }
  .hotelcard__picture.flex img {
    margin: 0 5px;
  }
}
@media screen and (max-width: 992px) {
  .homecard__content {
    padding-left: 0;
    padding: 20px 0;
  }
  .homecard__content p {
    font-size: 15px;
  }
  .footer {
    padding: 15px 0;
  }
  .cookie-alert.show {
    width: 100%;
  }
  .homecontent__text.aboutright p {
    font-size: 15px;
    text-align: justify;
  }
  .travel__content p {
    font-size: 14px;
    line-height: 21px;
  }
}
@media screen and (max-width: 991px) {
  /*header start*/
  header.site-header {
    transition: 0.3s;
    backdrop-filter: none;
  }
  .site-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    background: #474747;
    transition: 0.4s cubic-bezier(0, 0, 0.13, 0.61);
    transform: translateX(-100%);
  }
  .site-nav ul {
    display: block;
    padding: 75px 60px 0;
    display: inline-block !important;
  }
  .menu-toggle {
    display: block !important;
    cursor: pointer;
  }
  .closed-menu {
    font-size: 40px;
    color: #fff;
    position: absolute;
    top: -5px;
    right: 15px;
    display: inline-block;
  }
  .closed-menu a:hover {
    color: #fff;
  }
  .closed-menu {
    display: block;
  }
  .toggle .site-nav {
    transform: translateX(0);
  }
  .closed-menu {
    display: block;
  }
  .site-header {
    padding: 20px 0;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999999;
    transition: all 0.5s linear;
  }
  .site-header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .site-nav ul {
    display: flex;
    flex-wrap: wrap;
  }
  .site-nav li a {
    font-size: 17px;
    display: inline-block;
    padding: 0.8rem 2rem;
    text-transform: capitalize;
    color: #fff;
    position: relative;
    white-space: nowrap;
  }
  .site-nav li a:hover::after {
    width: 100%;
    transition: all 0.3s linear;
  }
  .site-nav .closed-menu a {
    font-size: 45px;
  }
  .menu-toggle .bar-1,
  .bar-2,
  .bar-3 {
    width: 2.5rem;
    height: 2px;
    background-color: #ffffff;
    margin: 0.6rem 0;
    transition: all 0.3s linear;
    display: block;
  }
  ul.dropdown-content {
    position: absolute;
    width: 250px;
    background: transparent;
    top: 100%;
    left: 0;
    background: #ffffff;
    display: none;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .menu-toggle .bar-1,
  .bar-2,
  .bar-3 {
    width: 40px;
    height: 2px;
    background-color: #fff;
    margin: 0.6rem 0;
    transition: all 0.3s linear;
    display: block;
  }
  .bar-2 {
    width: 30px;
  }
  .bd-header-top__meta span {
    display: block;
    color: #ffffff;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
  }
  .bd-header-top__meta a {
    display: block;
    color: #ffffff;
    font-size: 16px;
    line-height: 32px;
    font-weight: 600;
    opacity: 0.7;
  }
  .homecard__content {
    padding-left: 0;
  }
  section.homecard {
    padding: 50px 0 0 0;
  }
  .hotelcard__picture1 {
    display: flex;
  }
  .hotelcard__picture.flex img {
    max-width: max-content;
    height: 250px;
    width: 48%;
  }
  section.atlanticcard .row {
    margin-top: 26px;
  }
}
@media screen and (max-width: 768px) {
  .hotelcard__picture img {
    height: 350px;
    object-fit: cover;
  }
  .item p {
    font-size: 14px;
    line-height: 22px;
  }
  img.img-fluid.smallimage {
    max-width: 200px;
  }
}
@media screen and (max-width: 767px) {
  .hotelcard__picture.flex img {
    max-width: 159px;
    width: 100%;
  }
  .hotelcard__picture img {
    max-width: 100%;
  }
  .hotelcard__part {
    margin-top: 10px;
  }
  .atlanticcard {
    padding: 50px 0 0 0;
  }
  .atlanticcard p {
    margin: 0 0 20px 0;
    text-align: justify;
  }
  .bahamas__picture img {
    max-width: 100%;
  }
  .item p {
    font-size: 17px;
    line-height: 22px;
  }
  .aboutpic img {
    max-width: 100%;
    margin-bottom: 50px;
  }
  img.img-fluid.smallimage {
    top: 95%;
  }
  img.img-fluid.secondpicture {
    display: none;
  }
  .hotelcard__picture.flex img {
    max-width: 100%;
    object-fit: cover;
  }
  .contact__section {
    background-position: 100%;
  }
}
@media screen and (max-width: 575px) {
  .site-nav {
    width: 100%;
  }
  .homecontent__text {
    text-align: left;
  }
  .homecontent__text p {
    text-align: justify;
  }
  .banner__text p {
    text-align: center;
    max-width: 85%;
    margin: 0 auto;
  }
  .homecard__content {
    padding: 0;
  }
  .homecard__content p {
    font-size: 15px;
    line-height: 23px;
    text-align: justify;
  }
  .homemain__text p {
    font-size: 15px;
    line-height: 23px;
    text-align: justify;
  }
  .site-logo img {
    max-width: 150px;
  }
  .endtext__text p {
    text-align: justify;
  }
  .content-wrap p {
    text-align: justify;
    font-size: 16px;
  }
  .privacy-policy .content-wrap li {
    font-size: 16px;
    text-align: justify;
  }
  .terms .content-wrap li {
    text-align: justify;
  }
  .homecontent2 p {
    text-align: justify;
  }
  .homecontent__text p {
    text-align: justify;
    font-size: 15px;
  }
  h1 {
    line-height: 45px;
  }
  .homecontent2 {
    text-align: left;
  }
  .item p {
    font-size: 15px;
    line-height: 21px;
    text-align: center;
  }
  img.img-fluid.smallimage {
    right: -15%;
    top: 93%;
  }
}
@media screen and (max-width: 425px) {
  img.img-fluid.smallimage {
    display: none;
  }
  section.endtext.bahamas {
    padding: 0;
  }
}
@media screen and (max-width: 395px) {
  h1 {
    font-size: 30px;
  }
  .item p {
    font-size: 14px;
    line-height: 18px;
  }
}


/*# sourceMappingURL=responsive.css.map */
