$clr-white: #fff;
$clr-black: #0C0B0B;
$clr-darkblue: #474747;
$clr-mustard: #b19484;

// $clr-white: #fff;
// $clr-creme: #e5d1ad;
// $clr-black: #0C0B0B;
// $clr-mustard: #ac542f;
// $clr-darkblue: #062d3e;